@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap'); /*font-family: 'Passion One',
cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /*font-family: 'Sriracha',
cursive;*/

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

/*zera o padding e magin*/
*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh; /*vh de vew height ou seja, 1005 da altura*/
    
}

header{
    background-color: black;
    text-align: center;
    color: white;
    
}

header h1{
    font-family: var(--fonte2);
    font-variant: small-caps; /*Coloca todas as letrs maiusculas mas com as primeiras letras maior*/
    font-size: 10vw; /*vw de vew-width, ou seja porcentagem baseada na lagura*/
    font-weight: bold;
    padding-top: 50px;
}

header p{
    font-family: var(--font1);
    color: white;    
    padding-bottom: 50px;
}

header a, footer a{
    font-weight: bolder;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

section{
   padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
    font-family: var(--fonte3);
}

section p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    /*cria sombra para dentro da section.imagem*/
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);

}

/*cria um fundo transparente para o paragrafo*/
section.imagem >p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.281);
}

section#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img2{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
}

/*Roda pé*/
footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
    padding: 10px;
    margin-top: 0px;
}

footer p{
    font-family: var(--fonte1);
    padding: 20px;
}